<!DOCTYPE html>
<html>
{#include head}
 {#title} Admin - Category Management {/title}
{/include}
<body>
<h1>Admin Panel</h1>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 padding-right">
        <div class="features_items"><!--features_items-->
          <h2 class="title text-center">Existing Category</h2>
          {#for item in items}
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <h1>{item.name}</h1>
                  <a href="/view/admin/category/delete/{item.name}" class="btn btn-danger" ><i class="fa"></i>Delete category</a>
                </div>
              </div>
            </div>
          </div>
          {/for}
        </div><!--features_items-->
        <a href="/view/admin/category/create" class="btn btn-success"><i class="fa"></i>Add category</a>
      </div>
    </div>
  </div>
</section>
</body>
</html>

