<!DOCTYPE html>
<html lang="en">
<head>
  {#include head}
  {#title} Admin - Category Creation {/title}
  {/include}
</head>
<body>
<header id="header" class="header" style="margin-bottom: 20px">
  {#include adminHeader}{/include}
</header>
<h1 class="title text-center">Add new category</h1>
<div class="text-center">
  <form action="/category/admin/create" method="post" class="needs-validation form-inline" novalidate>
    <div class="form-group">
      <div class="">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name"
               placeholder="Category name">

        {#if category}
        <div class="alert alert-danger">
          The category with name {category} already exists.
        </div>
        {/if}
      </div>
    </div>
    <div class="">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
</body>
</html>