<!DOCTYPE html>
<html lang="en">
<head>
  {#include head}
  {#title} Admin - Main Panel {/title}
  {/include}
</head>
<body>
<header id="header" class="header" style="margin-bottom: 20px">
  {#include adminHeader}{/include}
</header>
<section>
  <div class="container container-form">
    <form method="post" class="needs-validation" novalidate enctype="multipart/form-data">
      <div class="form-group align-items-center">
        <div class="col-sm-3 my-1">
          <label for="image">Image</label>
          <input type="file" id="image" name="image">
          {#if imageError}
          <div class="alert alert-danger">
            An error occurred with the image
          </div>
          {/if}
        </div>
      </div>
      <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</section>
</body>
</html>