<div class="header-middle">
  <!--header-middle-->
  <nav class="navbar-expand-lg navbar-light bg-light">
    <div class="container container-fluid">
      <a class="navbar-brand" href="/product/view">Les Boulangers</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="#" class="nav-link active">
              <i class="fa fa-user">
              </i>
              Welcome <b>{username}</b>!
            </a>
          </li>
          <li class="nav-item">
            <a href="/cart/view" class="nav-link active">
              <i class="fa fa-shopping-cart">
              </i>
              Cart
            </a>
          </li>
          <li class="nav-item">
            <a href="/product/view" class="nav-link active">
              <i class="fa fa-list">
              </i>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link active">
              <i class="fa fa-unlock">
              </i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>